<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_render_element">
        <observer name="indusa_delivery_date_add_to_order_view_1" instance="Indusa\Deliverymethod\Observer\AddHtmlToOrderShippingViewObserver" />
    </event>
    
    
<!--    <event name="adminhtml_sales_order_create_process_data_before">
        <observer name="indusa_adminhtml_sales_order_create_process_data_before" instance="Indusa\Deliverymethod\Controller\Adminhtml\Order\Create" />
    </event>
    -->
    
</config>