<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="create_token_after">
        <observer name="cybersource_create_token_after" instance="CyberSource\Core\Observer\SaveAddress" />
    </event>
</config>