@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    .cybersource-cards, .cybersource-cards thead, .cybersource-cards tbody, .cybersource-cards th, .cybersource-cards td, .cybersource-cards tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .cybersource-cards thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .cybersource-cards tr { border: 1px solid #ccc; }

    .cybersource-cards td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .cybersource-cards td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    .cybersource-cards td:nth-of-type(1):before { content: "First Name"; }
    .cybersource-cards td:nth-of-type(2):before { content: "Last Name"; }
    .cybersource-cards td:nth-of-type(3):before { content: "Job Title"; }
    .cybersource-cards td:nth-of-type(4):before { content: "Favorite Color"; }
    .cybersource-cards td:nth-of-type(5):before { content: "Wars of Trek?"; }
    .cybersource-cards td:nth-of-type(6):before { content: "Porn Name"; }
    .cybersource-cards td:nth-of-type(7):before { content: "Date of Birth"; }
    .cybersource-cards td:nth-of-type(8):before { content: "Dream Vacation City"; }
    .cybersource-cards td:nth-of-type(9):before { content: "GPA"; }
    .cybersource-cards td:nth-of-type(10):before { content: "Arbitrary Data"; }
}